@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #334155;
    padding: 4rem 10rem 11.25rem;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 2.375rem;
    letter-spacing: 0.05em;
}



input {
    outline: none;
    border: none;
}

span {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
}

h1,
h2,
label,
td {
    color: #fff;
}


table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse: separate;
}

button {
    border: none
}

label {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.page-title {
    text-align: center;
}

.generate-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.number-teams-container {
    margin-top: 2.75rem;
    padding: 1.75rem 3.875rem 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background: #64748B;
    width: 100%;
    max-width: 34.375rem;
}

.team-names {
    margin-top: 11.25rem;
    padding: 1.75rem 2.5rem 2.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: #64748B;
    width: 100%;
    max-width: 34.375rem;

    display: none;
    flex-wrap: wrap;
}

.teams-select {
    margin-top: 2.75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.875rem;
}

.teams-select label {
    display: none;

}

.teams-select select {
    background: #E2E8F0;
    text-transform: uppercase;
}

.team-names>select::before {
    content: "1";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#number-teams {
    background: #E2E8F0;
    width: 6.25rem;
    border-radius: 0.5rem;
    margin-top: 2.25rem;
    aspect-ratio: 9/5;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}

#number-teams:focus {
    border: 0.0938rem solid #334155;
}

#number-teams-btn,
#generate-btn,
#matches-btn,
#edit-matches-btn {
    max-width: 21.875rem;
    width: 100%;
    margin-top: 4rem;
    background: #E2E8F0;
    padding: 1.125rem;
    border-radius: 0.5rem;
    color: #334155;
    font-size: 1.56rem;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

#number-teams-btn:hover,
#generate-btn:hover,
#matches-btn:hover,
#edit-matches-btn:hover {
    background: #cbd5e1;
}

#edit-matches-btn:hover img {
    transform: scale(1.1);
}

#generate-btn {
    display: none;
    margin-top: 4rem;
}

#edit-matches-btn {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

#edit-matches-btn>img {
    width: 1.5625rem;
}

#edit-matches-btn>span {
    color: #334155;
    font-size: 1.5rem;
    font-weight: 600;
}

.matches-table-container {
    margin-top: 11.25rem;
    padding: 1.75rem 3.125rem 2.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: #64748B;
    width: 100%;
    max-width: 34.375rem;
    flex-direction: column;
    display: none;
}

.matches-table-container h2 {
    margin-bottom: 2.25rem;
}

#matches-table,
.matches-table-container {
    display: none;
}

#matches-table {
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;

}

.matches {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.125rem;
    padding: 0.9375rem 1.375rem;
    width: 100%;
    border-radius: 0.5rem;
    background: #E2E8F0;
}

.matches>span {
    color: #334155;
    font-size: 1.5rem;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    letter-spacing: normal;
}

.matches-table-score {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background: #CBD5E1;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    gap: 0.5rem;
}

.matches-table-score>input {
    font-family: 'Ubuntu Mono', monospace;
    ;
    height: auto;
    width: 1.875rem;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
    opacity: 20%;
    text-align: center;
    border-radius: 0.5rem;
    color: #000000
}

.matches-table-score>input:focus {
    background: #fff;
    opacity: 100%;
}

.matches-table-score>span {
    color: #334155;
    font-weight: 700;
}

.matches>img {
    width: 1.875rem;
}


#qualifying {
    display: none;
    padding: 1.75rem 3.125rem 2.25rem;
    margin-top: 11.25rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background: #64748B;
    width: 100%;
    max-width: 34.375rem;
}

.qualify {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.qualify>span {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 600;
}

.container-qualify>div:first-child {
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    filter: drop-shadow(0rem -0.125rem 0.25rem rgba(0, 0, 0, 0.25));
}

.qualifying-table-header {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    margin-top: 2.25rem;
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.table-header-content {
    display: flex;
    gap: 0.8125rem;
    text-align: center;
    margin-left: 28%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background: #CBD5E1;
    width: 100%;
    padding-right: 0.5rem;
}

.table-header-content>span {
    width: 1.875rem;
    padding: 0.25rem 0;
}

#table-header-title {
    align-items: flex-start;
    width: 6.875rem;
}

.container-qualify {
    width: 100%;
}

.container-qualify img {
    width: 1.25rem;
}

.qualify-row {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding: 1rem 0.875rem;
    background: #E2E8F0;
    margin-bottom: 1.125rem;
    border-radius: 0.5rem;
    align-items: center;
}


.qualify-data {
    display: flex;
    gap: 0.8125rem;
    margin-left: 20%;
}

.qualify-data>span {
    text-align: center;
    width: 1.875rem;
    padding: 0.25rem 0;
    color: #000000;
}

.points,
.goals-diff {
    font-weight: 700;
}

.qualify-row .qualify {
    width: 6.875rem;
}

@media (max-width: 53.125rem) {
    body {
        background: #334155;
        padding: 4rem 1.125rem 5.625rem;
    }

    #qualifying {
        padding: 1.625rem 1rem 2.25rem;
    }

    .table-header-content {
        margin-left: 36%;
    }

    #qualify-data {
        margin-left: 24%;
    }

    .qualify-row {
        padding: 0.75rem 0.5rem;
    }
}

.qualify-row .left-space {
    padding-left: 6px;
}

/* selects */
#team-names-container .options-container {
    overflow-y: auto;
    height: 0%;
    transition: height .3s ease-out;
}

#team-names-container .options-container.open{
    height: 90%;
}

#team-names-container .options-container .teams-selector-item {
    cursor: pointer;
}

#team-names-container .options-container .teams-selector-item>img {
    width: 30px;
}

#team-names-container .header-container {
    display: flex;
    cursor: pointer;
}

#team-names-container .header-container>img {
    width: 30px;
}

@media (max-width: 34.375rem) {
    html {
        font-size: 70%;
    }

    .number-teams-container {
        padding: 1.75rem 1.25rem 2.25rem
    }

    .team-names {
        padding: 1.25rem 1.25rem 1.25rem;
    }

    .matches-table-container {
        padding: 1.75rem 1.25rem 2.25rem;
    }

    .matches {
        padding: 0.9375rem 0.75rem;
    }

    .qualifying-table-header {
        justify-content: space-between;
    }

    .table-header-content {
        margin-left: 0;
        width: fit-content;
    }

    .qualify {
        gap: 0.25rem;
        width: fit-content;
    }

    .qualify-row {
        justify-content: space-between;
    }

    .qualify-data {
        margin-left: 0;
    }
}